
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<script type="text/javascript">
  document.getElementById("file").onchange = function() {
    document.getElementById("form").submit();
};
</script>
<div class="jumbotron" style="">
    <div class="container">
      <!-- Center h1 title-->
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4" style="text-align: center;">Select a video to upload and process</h1>
        </div>
    </div>
</div><!-- /.jumbotron -->
<div class="container">
	<div class="row">
		<div class="col-md-15">
			<div class="center">
        <form id="form" method="post" action="/" enctype="multipart/form-data">
          <input type="hidden" name="type" value="uploadForm" />
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input id="file" type="file" onchange="form.submit()" name="file" autocomplete="off" required>
        </form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

