
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="">
    <div class="container">
      <!-- Center h1 title-->
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-5" style="text-align: center;">Welcome to Lecture Shortener</h1>
        </div>
    </div>
</div><!-- /.jumbotron -->
<title>Python Flask - Video Upload and Play Example</title>
{% if filename %}
	<div style="margin: 10px auto;">
		<video autoplay="autoplay" controls="controls" preload="preload">
			<source src="{{ url_for('public.display_video', filename=filename) }}" type="video/mp4"></source>
		</video>
	</div>
{% endif %}
{% endblock %}

